* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    border-bottom: 1px solid #eee;
    background: #fff;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: #d63845;
}

.nav-right {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-right button {
    background: #0c0c0c;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
}

.nav-right a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.cart {
    font-size: 26px;
}


.order-banner {
    background: #1c1c1c;
    color: white;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-banner p {
    font-size: 16px;
    font-weight: 500;
}

.order-btn {
    background: #fc8019;
    color: white;
    border: none;
    padding: 14px 35px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
}


.categories {
    padding: 60px 40px;
}

.categories h2 {
    font-size: 28px;
    margin-bottom: 35px;
    color: #282c3f;
}


.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.category-card {
    background: #f7f7f7;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.category-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.category-card p {
    padding: 15px;
    font-weight: 600;
    color: #333;
}

.category-card:hover {
    transform: scale(1.05);
}
